<div class="content-header">
</div>

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<ul id="rig">
    <li>
        <a class="rig-cell" href="https://www.youtube.com/fooliganvlogs" target="_blank">
            <img class="rig-img" src="https://cdn.shopify.com/s/files/1/1976/5867/files/Fooligan-Havoc-Sponsor_large.jpg?v=1521860668"/>
            <span class="rig-overlay"></span>
            <span class="rig-text">FOOLIGAN</span>
        </a>
    </li>
  <li>
        <a class="rig-cell" href="https://www.youtube.com/channel/UC7MGKgfjbuX-dRi_nCBdGmQ" target="_blank">
            <img class="rig-img" src="https://cdn.shopify.com/s/files/1/1976/5867/files/ZackGoes_large.jpg?v=1535065361"/>
            <span class="rig-overlay"></span>
            <span class="rig-text">ZACK GOES             
          </span>
        </a>
    </li>
  <li>
        <a class="rig-cell" href="https://www.instagram.com/mz.deepz/" target="_blank">
            <img class="rig-img" src="https://cdn.shopify.com/s/files/1/1976/5867/files/Deepz_large.jpg?v=1527751153"/>
            <span class="rig-overlay"></span>
            <span class="rig-text">MZ. DEEPZ</span>
        </a>
    </li>
  <li>
        <a class="rig-cell" href="https://www.instagram.com/tylerbrown316/" target="_blank">
            <img class="rig-img" src="https://cdn.shopify.com/s/files/1/1976/5867/files/Tyler-Brown_large.jpg?v=1543540767"/>
            <span class="rig-overlay"></span>
            <span class="rig-text">TYLER BROWN</span>
        </a>
    </li>
  <li>
        <a class="rig-cell" href="https://www.instagram.com/masonottersberg/" target="_blank">
            <img class="rig-img" src="https://cdn.shopify.com/s/files/1/1976/5867/files/Mason-Ottersberg-Havoc-Sponsor_large.jpg?v=1521860643"/>
            <span class="rig-overlay"></span>
            <span class="rig-text">MASON OTTERSBERG</span>
        </a>
    </li>
  <li>
        <a class="rig-cell" href="https://www.instagram.com/corbinleaverton/" target="_blank">
            <img class="rig-img" src="https://cdn.shopify.com/s/files/1/1976/5867/files/Corbin-Leaverton_large.jpg?v=1543539793"/>
            <span class="rig-overlay"></span>
            <span class="rig-text">CORBIN LEAVERTON</span>
        </a>
    </li>
  
   <li>
        <a class="rig-cell" href="https://www.instagram.com/mz.pietz/" target="_blank">
            <img class="rig-img" src="https://cdn.shopify.com/s/files/1/1976/5867/files/Pietz_Edited_large.jpg?v=1532050387"/>
            <span class="rig-overlay"></span>
            <span class="rig-text">MZ. PIETZ</span>
        </a>
    </li>
  
 
    
</ul>
 


